*{
    padding: 5px;
    margin: 5px;
}

ul{
  
    list-style: none;
    display: flex;
    text-align: right;
    justify-content: space-between;
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.logo{
    width: 200px;
}

.foto1{

   width: 1300px;
   height: 400px;
    
}

.frase{
    color: rgba(70, 68, 68, 0.89);

    font-weight: 15;
}

h1{
    color: rgba(70, 68, 68, 0.89);
}

.secciones{
        
        font-weight: 100px;
        display: flex;
        justify-content: space-around;
        text-align:left;
        padding-bottom: 5vh;
        padding-top: 20vh;
        padding-right: 40vh;
        margin-top: 0;
        
      
}

.parrafo{
    font-weight: 100;
}
.foto2{
    width: 700px;
}

strong{
    color: gray;
}

.textoNosotros{
    text-align: center;
}

.textoNosotros{
    text-align: justify;
}
.video{
    text-align: center;
}
  
  footer{
    background-color: grey;
    color: rgb(17, 13, 13);
    height: 20vh;
    text-align: center;
    width: 99%;
    margin: 0%;
    position: absolute;
    padding-bottom: 5%;
   
}

.parrafo{
    text-align: justify;
}

.titulo{
    text-align: center;
}



.wp{
    width: 5vh;
}



footer{
    margin-top: 10vh;
}





